body {
    background: #1d2127;
    margin: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 100px;
    background: black;
    display: flex;
}

.header_logo {
    width: 25%;
    height: 100%;
    text-align: center;
}

.header_logo img {
    width: 155px;
    height: 84px;
}

.header_search {
    width: 45%;
    height: 100%;
    line-height: 100px;
    padding-left: 30px;
}

.header_search input {
    width: 90%;
    height: 45px;
    outline: none;
    cursor: pointer;
    border: none;
    padding-left: 15px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.header_account {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_account a {
    color: white;
    text-decoration: none;
}

.header_account i {
    color: white;
    font-size: 25px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
}

.header_account span {
    font-size: 25px;
    padding-left: 10px;
}

.header_account span:hover {
    color: #ffba00;
}


/* Phần Menu */

.menu {
    z-index: 1;
    background: #1d2127;
    padding-left: 100px;
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    top: 0px;
    border-bottom: 1px solid #555;
}

.menu ul li {
    display: inline-block;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 23px;
    color: white;
    line-height: 70px;
}

.active {
    width: 170px;
    text-align: center;
}

.active:hover {
    background: #5680E9;
}

.menu .thanhcongcu {
    font-size: 24px;
    width: 40px;
    line-height: 70px;
    display: none;
    cursor: pointer;
}

.menu .thanhcongcu:hover {
    background-color: gray;
}

#trangchu {
    background: #5680E9;
}

.menu-con {
    position: absolute;
    left: 100px;
    z-index: 1;
    width: 1030px;
    background: #474747;
    display: none;
}

#cham:hover .menu-con {
    display: block;
}

.menu-con .menu-sp li {
    float: left;
    width: 230px;
    list-style: none;
    padding-left: 40px;
}

.menu-con .menu-sp li a {
    text-decoration: none;
    color: yellow;
    font-size: 20px;
}

.menu-con .menu-sp .sub-menu li {
    float: none;
    margin-left: -25px;
    margin-top: -20px;
    text-align: left;
}

.menu-con .menu-sp .sub-menu a {
    color: #fff;
    font-size: 15px;
}

.menu-con .sub-menu a:hover {
    border-bottom: 1px solid white;
}


/* liên hệ  */

.tong {
    padding-top: 50px;
    max-width: 1180px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    text-align: left;
    /* background: yellow; */
}

.danhmuc1 {
    margin-top: 50px;
    float: left;
    background: white;
    height: 375px;
    width: 300px;
}

.danhmuc1 .hemay {
    height: 60px;
    width: 300px;
    background: #2f353f;
    line-height: 60px;
    font-size: 25px;
    color: white;
    text-align: center;
}

.danhmuc1 img {
    height: 20px;
    width: 20px;
}

.danhmuc1 .hemay2 li {
    list-style: none;
    color: #383f4b;
    margin: 7px 10px;
    font-size: 20px;
}

.danhmuc1 .hemay2 li:hover {
    width: 170px;
    border-bottom: 2px solid #383f4b;
}

.introduce {
    display: inline-block;
    max-width: 850px;
    background: #1d2127;
    margin-top: 20px;
    padding-left: 20px;
}

.introduce .introduce-top {
    color: yellow;
    font-size: 20px;
}

.introduce .introduce-center {
    color: white;
    border-bottom: 2px solid gray;
    padding: 12px 0px;
}

.introduce .introduce-bottom {
    font-size: 20px;
    line-height: 30px;
    color: white;
    padding: 20px 0px;
}

.ad {
    margin-top: 90px;
}