body {
    background: #1d2127;
}

a {
    text-decoration: none;
}

.menu {
    z-index: 1;
    background: #1d2127;
    text-align: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #555;
}

.menu ul {
    margin: 0px;
    padding: 0px;
}

.menu ul li {
    display: inline-block;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 23px;
    color: white;
    line-height: 50px;
}

.a {
    display: inline-block;
}

.a input {
    padding: 6px;
    outline: none;
}

.a button {
    background: white;
    border: none;
    font-size: 20px;
    margin-left: -36px;
    position: relative;
    top: 2px;
}

.active {
    width: 160px;
    text-align: center;
}

.active:hover {
    background: gray;
}

.menu .thanhcongcu {
    font-size: 24px;
    width: 40px;
    line-height: 50px;
    text-align: center;
    display: none;
}

.menu .thanhcongcu:hover {
    background-color: gray;
}

@media screen and (max-width: 1024px) {
    .menu ul li {
        display: none;
    }
    .menu .thanhcongcu {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    .menu.responsive {
        position: relative;
    }
    .menu.responsive ul {
        display: block;
        position: absolute;
        top: 50px;
        left: 0px;
        background-color: rgb(71, 68, 68);
        width: 100%;
    }
    .menu.responsive ul li {
        display: block;
        text-align: left;
        margin: 20px 0px;
    }
    .menu.responsive ul li a {
        margin-left: 10px;
    }
}

.menu-con {
    position: absolute;
    left: 100px;
    z-index: 1;
    width: 970px;
    background: #474747;
    display: none;
}

#cham:hover .menu-con {
    display: block;
}

.menu-con .menu-sp li {
    float: left;
    width: 200px;
    list-style: none;
    margin-top: 15px;
    padding-left: 40px;
}

.menu-con .menu-sp li a {
    text-decoration: none;
    color: yellow;
    font-size: 20px;
}

.menu-con .menu-sp .sub-menu li {
    float: none;
    margin-left: -25px;
    margin-top: 0px;
    text-align: left;
}

.menu-con .menu-sp .sub-menu a {
    color: #fff;
    font-size: 15px;
}

.menu-con .sub-menu a:hover {
    border-bottom: 1px solid white;
}


/* phần hệ máy */

.danhmuc {
    display: flex;
    padding: 10px 20px;
    height: 434px;
}

.danhmuc .danhmuc1 {
    flex: 1;
}

.danhmuc .slideshow {
    flex: 3;
    padding-left: 20px;
}

.danhmuc .danhmuc1 .danhmuc1_1 {
    background: white;
    padding-bottom: 5px;
}

.danhmuc .danhmuc1 .danhmuc1_1 .hemay {
    height: 60px;
    width: 100%;
    background: #2f353f;
    line-height: 60px;
    font-size: 25px;
    color: white;
    text-align: center;
}

.hemay2 {
    padding: 0px 10px;
}

.danhmuc .danhmuc1 .danhmuc1_1 img {
    height: 20px;
    width: 20px;
}

.danhmuc1_1 .may {
    padding-top: 10px;
    padding-left: 10px;
}

.danhmuc1_1 .may:last-child {
    margin-bottom: 15px;
}

.danhmuc1_1 .may a {
    color: #383f4b;
    font-size: 20px;
}

.danhmuc1_1 .may a span {
    padding-left: 10px;
}

.danhmuc1_1 .may a span:hover {
    text-decoration: underline;
}

.slideshow img {
    width: 100%;
    height: 100%;
}

.mySlides {
    display: none;
}


/* Chi Tiết */

.row {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1080px;
    margin: auto;
}

.row .col-2 {
    flex-basis: 40%;
    min-width: 300px;
    padding: 10px;
    font-size: 17px;
}

.col-2 img {
    max-width: 100%;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

#col-2 {
    height: 580px;
}

#col-2 h4 {
    color: #555;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.small-img-col:hover {
    border: 1px solid gray;
}

.thongbao {
    margin: 20px 0px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 0px;
    padding-left: 10px;
}

#col-2 .thongbao h4 {
    color: red;
}

.thongbao p {
    padding-left: 10px;
    margin: 10px 0px;
}

.order {
    border-radius: 10px;
    text-align: center;
    width: 200px;
    padding: 10px 0px;
    background: #5680E9;
}

.order:hover {
    background: rgb(223, 55, 55);
}


/* row-2 */

.row-2 {
    max-width: 1080px;
    margin-left: 65px;
    height: 400px;
    margin-top: 35px;
}

.row-2 .col-3 {
    position: relative;
    width: 70%;
    margin: 0px auto;
    height: 100%;
    background: white;
    border: 1px solid gray;
    overflow: hidden;
}

.row-2 .col-3 .tieude {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}

.row-2 .col-3 .tieude button {
    font-size: 18px;
    padding: 10px 25px;
    border: none;
    background: transparent;
    position: relative;
    cursor: pointer;
}

#btn {
    position: absolute;
    background: #5680E9;
    width: 120px;
    height: 50px;
    transition: 0.5s;
}

.row-2 .col-3 .thongso {
    width: 90%;
    height: 300px;
    transition: 0.5s;
    position: absolute;
    padding: 10px 20px;
}

.row-2 .col-3 .thongso li {
    padding-top: 10px;
}

#thongso {
    left: 0px;
}

#video {
    left: 750px;
}


/* sản phẩm tương tự */

.row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.cols {
    flex-basis: 23%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.cols img {
    width: 100%;
}

.title {
    max-width: 1080px;
    margin: auto;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 30px;
    padding-top: 50px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}

.cols p {
    color: white;
    font-size: 17px;
}

.row .cols:hover {
    transform: translateY(-10px);
}

.rating .fa {
    color: #ff523b;
}

.rating .far {
    color: #ff523b;
}

.gio {
    background: white;
    height: 30px;
    width: 150px;
    font-size: 18px;
    color: black;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
}

.gio:hover {
    background: #5680E9;
}

.page-btn {
    max-width: 1080px;
    margin: 0px auto 40px;
    text-align: left;
}

.page-btn span {
    padding: 10px;
    margin-left: 10px;
    color: white;
    border: 1px solid gray;
}

.page-btn .btn-1 {
    background: gray;
}

.page-btn span:hover {
    background: gray;
}

@media screen and (max-width:1224px) {
    #cham {
        display: none;
    }
    .menu .a {
        position: relative;
        top: 42px;
    }
    .page-btn {
        text-align: center;
    }
    .row-2 {
        position: relative;
        top: 35px;
        margin: 0px auto;
    }
}

.mua {
    position: fixed;
    top: 100px;
    left: 250px;
    width: 60%;
    height: 500px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgb(0 0 0);
    display: none;
    animation: identifier ease 1s;
}

@keyframes identifier {
    from {
        transform: translateY(calc(-100% - 200px));
    }
    to {
        transform: translateY(0);
    }
}

.mua .title-1 {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 50px;
    background: #c69a39;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mua .title-1 span {
    font-weight: 600;
    color: white;
    padding-left: 15px;
    font-size: 20px;
    padding-right: 15px;
}

.mua .title-1 i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(231, 173, 11);
    background: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.mua .product {
    width: 100%;
    height: 450px;
    display: flex;
}

.product-left {
    width: 45%;
    height: 100%;
}

.info-product-top {
    width: 100%;
    height: 50%;
    display: flex;
}

.info-product-top img {
    padding: 10px 0px 0px 10px;
    width: 50%;
    height: 90%;
}

.info-product-top .ten {
    padding-top: 15px;
    padding-left: 10px;
    color: #333;
    font-weight: bold;
    font-size: 23px;
}

.chat {
    padding-top: 30px;
    padding-left: 10px;
}

.chat button {
    border: none;
    padding: 15px;
    background: #0075ff;
    font-size: 20px;
    color: white;
    border-radius: 4px;
}

.chat button:hover {
    background: #3083e2;
}

.chat p {
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.product-rigth {
    width: 55%;
    height: 450px;
    /* background: red; */
}

.product-rigth-top {
    width: 95%;
    height: 100%;
    margin: 0px auto;
    /* background: aqua; */
}

.product-rigth-top span {
    color: #333;
    font-weight: bold;
    font-size: 23px;
}

.product-rigth-top input {
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #555;
}

.product-rigth-top textarea {
    outline: none;
    border-radius: 5px;
}

.product-rigth-top button {
    width: 91%;
    padding: 15px;
    background: #c69a39;
    border: none;
    border-radius: 5px;
}

.product-rigth-top button:hover {
    background: #c08c1c;
}